@model MyEStore.Models.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h1>Đăng ký thành viên</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="DangKy" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaKh" class="control-label">Mã Khách Hàng</label>
                <input asp-for="MaKh" class="form-control" placeholder="Nhập mã khách hàng" />
                <span asp-validation-for="MaKh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
                <input asp-for="MatKhau" type="password" class="form-control" placeholder="Nhập mật khẩu" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MatKhauNhapLai" class="control-label">Nhập Lại Mật Khẩu</label>
                <input asp-for="MatKhauNhapLai" type="password" class="form-control" placeholder="Nhập lại mật khẩu" />
                <span asp-validation-for="MatKhauNhapLai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Họ Tên</label>
                <input asp-for="HoTen" class="form-control" placeholder="Nhập họ tên" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GioiTinh" /> Giới Tính
                </label>
            </div>

            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày Sinh</label>
                <input asp-for="NgaySinh" type="date" class="form-control" placeholder="Nhập ngày sinh" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DienThoai" class="control-label">Điện Thoại</label>
                <input asp-for="DienThoai" type="tel" class="form-control" placeholder="Nhập số điện thoại" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hinh" class="control-label">Hình Ảnh</label>
                <input name="FileHinh" type="file" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Đăng ký" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
