@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* EmptyCart.cshtml *@
<h2>Giỏ hàng của bạn đang trống</h2>
<p>Hãy thêm sản phẩm vào giỏ hàng để tiếp tục mua sắm!</p>
<a asp-action="Index" asp-controller="Products" class="btn btn-primary">Tiếp tục mua sắm</a>
